[Oo]bj/
[Bb]in/
_ReSharper.*/
packages/
artifacts/
PublishProfiles/
.vs/
.vscode/
bower_components/
node_modules/
**/wwwroot/
*.lock.json
*.user
*.suo
*.cache
**/Data/*.ldf
**/Data/*.mdf
*.rej
_ReSharper.*
.tscache/
.baseDir.ts
*.coverage
TestResults/
.buildtools/
/WebDeploy.3.5.0
src/**/pkg/
src/**/pkgobj/
src/**/BIN1/
src/**/ProductAssets/Hawkeye.zip
src/**/package-lock.json
/**/dist/
.tscache
rclog.txt
*.DotSettings.user
/.nuget/nuget.exe
/robocopy-log.txt
*.vspx
/src/**/secrets.json
